# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# other
*.exp
/VC/.vs/Addictol
/.vs
/.xmake/
/VC/Addictol/x64
*.vcxproj.user
/.LinkConf
/.Lib
/.Build/Tests

# Copied from the DearModdingUI host repo at build time.
/.Build/F4SE/Plugins/DearModdingUI/
/.Build/F4SE/Plugins/DearModdingUI.dll
/.Build/F4SE/Plugins/DearModdingUI.pdb
/.Build/F4SE/Plugins/DearModdingUI.toml
/Depends/vmm/.vs/vmm
/Depends/vmm/x64/MemoryManager/Debug/microsoft/STL
.vscode
.clangd
*.lastcodeanalysissucceeded
compile_commands.json
